body {
  background-color: rgb(34, 34, 34);
  
}

.container {
  width: 1100px;
  height: 550px;
  background-color: rgb(22, 34, 48);
  margin: 50px auto;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 3px rgba(15, 12, 20, 0.651);
}

#message {
  color: rgb(255, 255, 255);
  padding: 150px 300px;
}

#button {
  padding: 0px 270px;
  border-radius: 10px; 
  color: blue;
  border: none;
}

.moodbar {
  width: 500px;
  height: 30px;
  margin: auto;
  border: 1px solid black;
}

.moodbarProgress {
  width: 0%;
  height: 100%;
  background-color: brown;  
  transition: width 300ms ease-in;
}