body {
  background-color: rgb(34, 34, 34);
  
}

.container {
  display: block;
  position: relative;
  width: 1100px;
  height: 550px;
  background-image: url('/image/Soujibackground2.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  bottom: 0;
  margin: 50px auto;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 3px rgba(15, 12, 20, 0.651);
  overflow: hidden;
}

.rain {
  width: 1100px;
  height: 550px;
  border-radius: 25px;
  position: absolute;
  opacity: 0.3;
}

@keyframes orage {
  0% {
    opacity: 0;
  }

  2% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.2;
  }

  12% {
    opacity: 0.5;
  }

  16% {
    opacity: 0.2;
  }

  20% {
    opacity: 0.6;
  }

  30% {
    opacity: 0;
  }
  
  100% {
    opacity: 0;
  }
}

.orage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(35deg, rgba(255,255,255,0) 0%,rgb(217, 252, 249) 100%);
  opacity: 0;
  animation-name: orage;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

.barre {
  position: absolute;
  width: 55px;
  height: 383px;
  right: 20px;
  bottom: 90px;
}

.coeur {
  position: absolute;
  z-index: 3;
  width: 90px;
  height: auto;
  bottom: -50px;
  left: -18px;
}

.fondbarre {
  position: absolute;
  z-index: 1;
  width: 55px;
  height: auto;
}

.hideb {
  position: absolute;
  z-index: 1;
  width: 55px;
  bottom: 0;
  overflow: hidden;
  transition: height 300ms ease-out;
}

.fillbarre {
  width: 55px;
  height: auto;
}

.character {
  position: absolute;
  bottom: 0;
  width: 532px;
  height: 530px;
  background-image: url('/image/soujitransfpers.png');
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 0;
  left: 40%;
  
}

.characterA {
  display: none;
  bottom: 0;
  position: absolute;
  z-index: 1;
  width: 532px;
  height: 530px;
  background-size: 100%;
  background-image: url('/image/soujiAngry.png');
  background-repeat: no-repeat;
  
  left: 40%;
}

.characterH {
  display: none;  
  bottom: 0;
  position: absolute;
  width: 532px;
  height: 530px;
  left: 40%;  
  background-size: 100%;
  z-index: 1;
  background-image: url('/image/soujiHappy.png');
  background-repeat: no-repeat;
  
}

@keyframes vampire {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0.9;
  }

  3% {
    opacity: 0.2;
  }

  6% {
    opacity: 0.5;
  }

  8% {
    opacity: 0.2;
  }

  10% {
    opacity: 0.6;
  }

  15% {
    opacity: 0;
  }
  
  100% {
    opacity: 0;
  }
}

.characterV {  
  bottom: 0;
  position: absolute;
  width: 532px;
  height: 530px;
  left: 40%;  
  background-size: 100%;
  z-index: 1;
  background-image: url('/image/soujiVampire.png');
  background-repeat: no-repeat;
  opacity: 0;
  animation-name: vampire;
  animation-duration: 8s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

.ui {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bulle {
  position: absolute;
  width: 170px;
  height: auto;
  bottom: 10px;
  left: 20px;
}

#message {
  flex: 1;
  color: rgb(255, 255, 255);
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  background-color: rgba(9, 9, 31, 0.418);
  border-radius: 5px;
  border: rgba(143, 189, 190, 0.561) solid 1px;
  max-width: 300px;
  padding: 10px;
  margin-top: 170px;
  margin-left: 150px;
  
  
}

#button {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: rgba(9, 9, 31, 0.418);
  margin-top: 88px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: rgba(143, 189, 190, 0.561) solid 1px;
  margin-left: 130px;
  margin-right: 120px;
}

button {
  cursor: pointer;
  padding: 0px 200px;
  border-radius: 10px;
  border: none;
  background: transparent;
  color: white;
  margin: 12px 0;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  text-align: left;

}
